body {
  background-image: url(1.jpg);
  background-size: cover;
  color: aliceblue;
}
.main {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.form-inline {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.spr {
  text-decoration: none;
  list-style: none;
  width: 50%;
  padding: 10px;
  border: 2px solid rgb(51, 49, 49);
  border-radius: 1em;
  margin-left: 400px;
}
.row {
  margin-left: 400px;
  width: 50%;
  padding: 10px;
}
